body, html {
  margin: 0;
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("../images/bg-hd.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: #222d32;
  height: 5%;
}